<!-- <h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
<h1> -->
<h1> Welcome </h1>
<h4> Abhi ka time <%= Time.now %> </h4>
<br>
<h2> <%= link_to 'Logout', sessions_destroy_path %> </h2>
